<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Face Recognition Login</h1>
        <div class="video-container">
            <video id="video" autoplay></video>
        </div>
        <div id="output"></div>
        <div id="tokenOutput"></div>
        <div id="authSection">
            <h2>Login</h2>
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <input type="text" id="token" placeholder="Token">
            <button id="loginButton">Login</button>
        </div>
    </div>
    <canvas id="canvas" style="display:none;"></canvas>
    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const output = document.getElementById('output');
        const tokenOutput = document.getElementById('tokenOutput');
        const loginButton = document.getElementById('loginButton');

        let lastTokenTime = 0;

        // Solicitar acceso a la cámara
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                // Comenzar la detección continua
                detectFace();
            })
            .catch(err => {
                console.error('Error accessing webcam: ', err);
            });

        function detectFace() {
            const context = canvas.getContext('2d');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(blob => {
                const formData = new FormData();
                formData.append('image', blob, 'capture.jpg');

                fetch('/login', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    output.textContent = data.result === 'success' ? 'Welcome William' : 'Authentication failed';
                    output.style.color = data.result === 'success' ? 'green' : 'red';
                    if (data.result === 'success' && data.token) {
                        const currentTime = Date.now();
                        if (currentTime - lastTokenTime >= 60000) { // 1 minuto en milisegundos
                            tokenOutput.textContent = `Token: ${data.token}`;
                            lastTokenTime = currentTime;
                        }
                    }
                })
                .catch(err => {
                    console.error('Error during fetch: ', err);
                });
            }, 'image/jpeg');

            // Llamar a la función nuevamente después de un pequeño retraso
            setTimeout(detectFace, 1000); // 1 segundo de retraso entre capturas
        }

        loginButton.addEventListener('click', () => {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const token = document.getElementById('token').value;
            fetch('/login_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password, token })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'Login successful') {
                    window.location.href = '/secure_page';
                } else {
                    alert('Login failed');
                }
            })
            .catch(err => {
                console.error('Error during login: ', err);
            });
        });
    </script>
</body>
</html>
